<h1 class="text-center bg-dark bg-opacity-25">
  NEAR Donate for Effective Altruism (EA)
</h1>
<h2 class="text-center pt-4">
  <%= link_to "Many Attempts to do good fail, but the best are exceptional",
      "https://www.effectivealtruism.org/articles/introduction-to-effective-altruism#many-attempts-to-do-good-fail-but-the-best-are-exceptional" %> 
</h2>

<div class="col-md-6 offset-md-3 pt-5 pb-5">
  <p>
    <%= link_to "Effective Altruism", "https://www.effectivealtruism.org/" %>  
    aims to maximize its impact by helping people most in need. 
    For example, how many life could I save if I donate to charity X instead
    of charity Y? Would it saves more life donating to cure malaria for poor children,
    or perhaps deworming, than to donate for a single person having cancer? How much
    contribution, if the person with cancer cures, return back to the world, as compared
    to the vast amount of children and their collective intelligence? 
  </p>

  <p>
    With <%= link_to "DALYs", "https://www.who.int/data/gho/data/themes/mortality-and-global-health-estimates" %>,
    we could measure how much good we did, who is best to save for example. Let's give a case: 
    if there is an old man to save, and another child. You only have sufficient to save one,
    which would you save? According to DALYs measurement, the young child would give larger 
    DALYs than the old man, because the young child could live longer after saved, hence we 
    save the young child. Of course, there are a lot of uncertainties here, including whether
    the child would turn out be a terrorism in the future and kill more people than a neutral 
    old man, etc; that is unexpected, and we can't really predict the future. So... 
  </p>

  <p>
    <%= link_to "GiveWell", "https://www.givewell.org/" %> aims to search for the charities
    that save or improve lives <strong>the most</strong> per dollar (donated). All are backed
    by research. They don't always done their best, as mentioned in 
    <%= link_to "their mistake page", "https://www.givewell.org/about/our-mistakes" %>, 
    but we expect to not be perfect and keeps improving in the future, and be aware of how 
    effectively (i.e. how many DALYs per dollar we spent) our donations are, and as a result,
    be happy with our donations. 
  </p>
</div>

<h3 class="text-center">
  Here, we imitate donations to GiveWell and award an NFT as a "receipt" to donators. 
</h3>

<div class="text-center">
  <p>
    Start donating today by logging in (top right of this page) to NEAR and a 
    donate button will appear. 
  </p>
</div>
