<h1>First time users</h1>
<p>
  If this is your first time here, click login on the upper right then click the button
  below. 

  If this is not your first time, use the Search button on the upper right too to search
  for your id. Ensure that you didn't unauthorized the function key; otherwise things will
  not run as expected. 
</p>

<div data-controller="key">
  <div class="pt-3 pb-3">
    <button data-action="key#generate" class="btn btn-secondary">
      Generate "params"
    </button>

  
    <button data-action="key#admin" class="btn btn-danger">
      Redirect to admin page
    </button>
  </div>


  <ul>
    <li data-key-target="accountid"></li>
    <li data-key-target="publickey"></li>
    <li data-key-target="allkey"></li>
  </ul>
</div>




<%= form_with model: @user, local: true do |f| %>
  <%= f.hidden_field :account_id , value: params[:account_id] %>
  <%= f.hidden_field :public_key, value: params[:public_key] %>
  <%= f.hidden_field :all_keys, value: params[:all_keys] %>
  <%= f.submit "(TEMPORARILY A MUST) Save key to database", class: "btn btn-primary" %>
<% end %>

<p>
  Because one haven't learnt how to cache, we currently send the data to a database for storage. 
  The data that are stored are as such: (viewable only after logging in): 

  <ul>
    <li>Account ID: <%= params[:account_id] %></li>
    <li>Public key: <%= params[:public_key] %></li>
    <li>All keys: <%= params[:all_keys] %></li>
  </ul>
</p>

